# Godot 4+ specific ignores
.godot/
.sconsign*.dblite
*build/
.cache/
game/test_scene.tscn

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp
*.dll

build*/
export/
